.custom-file-input~.custom-file-label::after {
  content: "Buscar";
}

.custom-file-input {
  height: 150px;
  width: 100%;
}

.custom-file-label {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.custom-file {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .custom-file-input {
    height: 200px;
  }

  .custom-file-label {
    height: 200px;
  }
}

.dropzone {
  border: 2px dashed #007bff;
  border-radius: 5px;
  background: #f8f9fa;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.dropzone:hover {
  background-color: #e2e6ea;
}

.dropzone.dragover {
  background-color: #d0d7dd;
}

body {
  padding: 20px;
}

.image-upload {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: 20px;


  .upload-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #ccc;
    padding: 20px;
    cursor: pointer;
    position: relative;


    i {
      font-size: 3rem;
      color: #aaa;
      margin-bottom: 10px;
    }

    input[type="file"] {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }

    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      /* Ajusta la imagen para que se ajuste dentro del contenedor */
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .image-upload {
    flex-direction: column;

    .upload-box {
      margin-bottom: 10px;
    }
  }
}

/* Estilos para el modal del formulario de actualizar */
.card-body {
  position: relative;
  height: auto;
}

.image-upload {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;

  div {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    max-width: 30%;
    min-width: 200px;
  }
}

.img-thumbnail,
.upload-box {
  margin: auto;
}

.owl-nav,
.owl-dots {
  display: none !important;
}


//Databases de categroias lista tabla boton hover::after

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: none;
  background: none;
  /* Elimina el fondo en hover */

}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  border: none;
  background: none;
  /* Elimina el fondo en active */
}