// _variables.scss
$color-primari: #00aaff; // Azul hielo
$color-secondary: #ffdd57; // Amarillo de amanecer
$color-tertiary: #6f4f28; // Marrón de color de rutas turísticas
$color-quaternary: #000;  // Ajusta según necesites
$color-quinary: #fff;    // Ajusta según necesites
